/*******************/
/***** sidebar *****/
/*******************/

.sidebar {
    width: 11.2rem;
    height: 100vh;
    position:fixed;
    background-color: #000;
    z-index: 9999;
}

.logo {
    padding-top: 4.8rem;
    padding-bottom: 8rem;
}

.nav-space {
    margin-top: 3.6rem;
}

.nav-text a {
    color: #fff;
    font-size: 1.2rem;
    position: relative;
}

.nav-text a:hover {
    text-decoration: none;
    color: #fff;
}

.nav-text a:after {
    content: "";
    width: 0;
    height: 0.2rem;
    border-radius: 1.0rem;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: width .2s ease-in-out;
}

.nav-text a:hover:after {
    opacity: 1;
    width: 6.8rem;
}

.contact {
    width: 100%;
    position: absolute;
    bottom: 4.8rem;
}

.original {
    margin-top: 3.2rem;
}

.contact .original a {
    color: #fff;
    font-size: 2.0rem;
    position: relative;
}

.contact .original a:hover {
    text-decoration: none;
    color: #fff;
}

.contact .original a:after {
    content: "";
    width: 0;
    height: 0.2rem;
    border-radius: 1.0rem;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: width .2s ease-in-out;
}

.contact .original a:hover:after {
    opacity: 1;
    width: 3.0rem;
}

.back {
    padding-top: 4.8rem;
    padding-bottom: 8rem;
}

.back a {
    color: #fff;
    font-size: 2.0rem;
}

.back svg {
    transition: all .2s ease-in-out;
}

.back svg:hover {
    transform: scale(1.4);
}

/***************************/
/***** welcome section *****/
/***************************/

.fullpage-wrapper {
    padding-left: 11.2rem;
}

.intro {
    position: relative;
    height: 100%;
    padding: 0 9.6rem;
}

.img-comp-img-container {
    position: relative;
    width: 100%;
}

.img-comp-img {
    width: 100%;
    overflow: hidden;

}

.img-comp-img img {
    display:block;
    vertical-align:middle;
}

.img-comp-overlay {
    position: absolute;
    top: 0;
    left: 0;
}

#homepage-code {
    background-color: #fff;
}

.job-title {
    padding: 4.8rem 0;
}

.job-title span {
    font-family: "Montserrat", sans-serif;
    font-size: 2.4rem;
    font-weight: 300;
    color: #313843;
    letter-spacing: .16rem;
}

.next-page {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 2.4rem;
}

/***************************/
/***** project section *****/
/***************************/

.project {
    height: 100%;
    position: relative;
}

.title-container {
    padding-top: 6.4rem;
}

.horizontal-project {
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-left: 11.2rem;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.horizontal-project::-webkit-scrollbar {
  display: none;
}

.horizontal-project a:first-child {
    margin-left: 0rem;
}

.horizontal-project a:last-child {
    margin-right: 11.2rem;
}

.project-container {
    width: 32rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 6rem 0 rgba(0, 0, 0, 0.3);
    margin-left: 4.8rem;
    display: inline-block;
    transition: all .2s ease-in-out;
}

.project-container:hover {
    transform: scale(1.1);
}

/*****************/
/***** about *****/
/*****************/

.bold-text {
    font-weight: 700;
    font-size: 2.4rem;
    margin: 1.6rem 0;
}

.gallery {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

/****************************/
/***** project specific *****/
/****************************/

.project-img-btn-wrapper {
    width: 24rem;
    position: absolute;
    top: 85%;
    left: 30%;
}

.project-img-btn {
    width: 100%;
    height: 4rem;
    background-color: #fff;
    border: solid .1rem #000;
    border-radius: 3rem;
    font-weight: 700;
    color: #000;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
    transition: all .2s ease-in-out;
    cursor: pointer;
    animation-name: breathing;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    -webkit-animation-name: breathing;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
}

@-webkit-keyframes breathing {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

@keyframes breathing {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.project-img-btn:hover {
    animation: 0;
    transform: scale(1.1);
}

.project-img-btn:focus {
    outline: 0;
}

.highlight {
    background-image: linear-gradient(to right, transparent 50%, transparent 50%);
    background-size: 200%;
    background-position: 0 0;
    transition: 0.5s ease-in-out;
}

.highlight-active {
    background-position: -100% 0;
}

.highlight-foodex {
    background-image: linear-gradient(to right, transparent 50%, rgba(252, 87, 89, 0.3) 50%);
}

.highlight-fittingeasy {
    background-image: linear-gradient(to right, transparent 50%, rgba(71, 159, 241, 0.3) 50%);
}

.pros-cons-title {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 1.6rem;
}

.pros-cons-list {
    list-style-type: none;
    margin: 0.8rem 0 0 3.2rem;
    padding: 0;
}

.pros-cons-list li {
    padding: 0.8rem 0;
}



