html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    color: #313843;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
	letter-spacing: .16rem;
	word-spacing: .32rem;
    color: #313843;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.4rem;
}

p, ul {
	font-family: "Open Sans", sans-serif;
}

p {
    font-size: 1.6rem;
    line-height: 1.8em;
    padding: 0.8rem 0;
    margin: 0;
}

a {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: 0.16rem;
    color: #313843;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.row {
    --bs-gutter-x: 2.4rem;
}

.copyright {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
}

.center {
    text-align: center;
}

.text-align {
    text-align: justify;
}

.content-wrapper {
    padding-left: 11.2rem;
    position: relative;
}

.project-content {
    padding-left: 8.4rem;
    padding-right: 8.4rem;
    padding-bottom: 6.4rem;
}

.section-space {
    margin-top: 11.2rem;
}

.title-space {
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.section-title-space {
    margin-bottom: 2.4rem;
}



