html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    color: #313843;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
	letter-spacing: .16rem;
	word-spacing: .32rem;
    color: #313843;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.4rem;
}

p, ul {
	font-family: "Open Sans", sans-serif;
}

p {
    font-size: 1.6rem;
    line-height: 1.8em;
    padding: 0.8rem 0;
    margin: 0;
    text-align: justify;
}

ul {
    padding-left: 1.7rem;
}

a {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: 0.16rem;
    color: #313843;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.bold {
    font-weight: 700;
}

.row {
    --bs-gutter-x: 2.4rem;
}

.copyright {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 0.8rem;
}

.center {
    text-align: center;
}

.content-wrapper {
    padding-left: 11.2rem;
    position: relative;
}

.project-content {
    padding-left: 8.4rem;
    padding-right: 8.4rem;
    padding-bottom: 12rem;
}

.title-space {
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.subsection-title-space {
    padding-bottom: 2.4rem;
}

.pic-space {
    margin-top: 1.6rem;
}

.pic-style {
    box-shadow: 0 5px 20px 0 #d8d8d8;
    border-radius: 1.2rem;
}

.section-divider {
    margin-left: 8.4rem;
    margin-right: 8.4rem;
    height: 0.2rem;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #000000 50%, rgba(0, 0, 0, 0));
}

.stack-group {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
}

.problem-block {
    background-color: #f2f2f2;
    padding: 4.8rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}

.problem-text1 {
    text-align: center;
    margin-bottom: 1.6rem;
}

.problem-text2 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
	letter-spacing: .048rem;
	word-spacing: normal;
    line-height: 3.6rem;
    color: #313843;
    text-align: center;
}

.video-feature {
    width: 100%;
    border-radius: 0.4rem;
    box-shadow: 0 5px 20px 0 #d8d8d8;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}


